
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^wochellc\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.wochellc\.com$
RewriteRule ^(.*)$ "https\:\/\/wochellc\.com\/$1" [R=301,L]

ErrorDocument 404 /404.shtml

